html {background: #f7f7f7}
body {
	background: #FFF;
	font-family: "Lucida Grande", Verdana, sans-serif;
	margin: 2em auto 0 auto;
	width: 700px;
	padding: 10px 20px;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	border: 1px solid #dfdfdf;
}

p {
	padding: 0; 
	margin: 10px 0;
	font-size: 12px;
}

#recaptcha_widget_div {padding-bottom: 10px}
.challenge {color: red}